marquee {
    color: red;
    animation: color-change 1s infinite;
}
body {
    background: linear-gradient(purple, yellow, red);
    background-attachment: fixed;
}
h1 {
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: red; }
  50% { color: blue; }
  100% { color: red; }
}
.pasta {
    text-align: right;
    border: 5px outset blue;
    background: linear-gradient(green, blue, purple);
    background-repeat: no-repeat;
    width: 50%;
    margin-left: 50%;
}
.dogfight {
    border: 5px outset green;
    background: linear-gradient(darkblue, blue, lightblue);
    width: 50%;
    margin-left: 25%;
    height: 600px;
}
p {
    animation: color-change 1s infinite;
}
.spitfire {
    float: left;
    margin: 0px;
}
.bf109 {
    float: right;
    margin: 0px;
}
.siberia {
    border: 5px outset yellow;
    width: 25%;
    margin-left: 37px;
    background: radial-gradient(yellow, green, red);
    background-repeat: no-repeat;
    text-align: center;
}
