@keyframes background {
  0% {background-color: #00fff7;}
  100% {background-color: #51ff00;}
}

body {
  background-color: #00fff7;
  animation-name: background;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
