.title {
  text-align: center;
  width: 30%;
  margin-left: 35%;
  background-color: aqua;
  
}

body {
  background-image: url(chez.png);
  
}

.failure {
  width: 50%;
  margin-left: 25%;
  padding-left: 12.5%;
  padding-right: 12.5;
  border-style: ridge;
  border-color: blue;
  background-color: aqua;
  
}
