@keyframes box-background {
  0% {background-color: #00fff7;}
  100% {background-color: #51ff00;}
}

.box1 {
  background-color: #00fff7;
  animation-name: box-background;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: fixed;
  width: 10%;
  height: 30px;
  border: 9px outset purple;
  padding-left: 45%;
}

.board {
  background: linear-gradient(darkblue, blue, lightblue, cyan);
  width: 75%;
  margin-left: 12.5%;
  height: 3000px;
  border: 12px outset green;
  padding: 0px;
}
