.truman {
background-image: url("Truman.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
width: 101%;
height: 452px;
margin-top: -67px;
margin-left: -8px;
margin-right: -9px;
text-align: center;

}

h1 {
padding-top: 50px;
font-size: 100px;
    
}

h2 {
text-align: center;
    
}

.txt {
margin-top: 10px;
margin-bottom: 10px;
width: 50%;
margin-left: 25%;
padding-left: 10px;
padding-right: 10px;

}

.txtquiz {
margin-top: 10px;
margin-bottom: 10px;
width: 50%;
margin-left: 25%;
padding-left: 10px;
padding-right: 10px;
  
}

body {
background-color: #fafafa;
    
}

.quiz {
margin-left: 0%;
width: 100%;
  
}

a {
width: 50%;
margin-left: 38%;
outline-color: blue;
outline-style: solid;
}